# Сжатие
<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/html text/css text/javascript application/javascript
</IfModule>

# Кеширование изображений
<FilesMatch "\.(jpg|jpeg|png|gif|ico)$">
  Header set Cache-Control "max-age=2592000, public"
</FilesMatch>