<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="other-towers">
    <h2 class="other-towers-title">Другие башни Москва-Сити</h2>
    <div class="towers-grid">
        <div class="tower-card">
            <a href="tower_neva.html">
                <img src="../../image/nevatower.jpg" alt="Neva Towers" loading="lazy">
                <h3>Neva Towers</h3>
            </a>
        </div>
        <div class="tower-card">
            <a href="tower_afimoll.html">
                <img src="../../image/afimol.jpg" alt="ТРЦ Афимолл" loading="lazy">
                <h3>ТРЦ Афимолл</h3>
            </a>
        </div>
        <div class="tower-card">
            <a href="tower_federation.html">
                <img src="../../image/federation.jpg" alt="Башня Федерация" loading="lazy">
                <h3>Башня Федерация</h3>
            </a>
        </div>
        <div class="tower-card">
            <a href="tower_oko.html">
                <img src="../../image/oko.jpg" alt="Башня ОКО" loading="lazy">
                <h3>Башня ОКО</h3>
            </a>
        </div>
        <div class="tower-card">
            <a href="tower_evolution.html">
                <img src="../../image/evolution.jpg" alt="Башня Эволюция" loading="lazy">
                <h3>Башня Эволюция</h3>
            </a>
        </div>
        <div class="tower-card">
            <a href="tower_mercury.html">
                <img src="../../image/mercury.jpg" alt="Башня Меркурий" loading="lazy">
                <h3>Башня Меркурий</h3>
            </a>
        </div>
        <div class="tower-card">
            <a href="tower_capital.html">
                <img src="../../image/capital.jpg" alt="Город столиц" loading="lazy">
                <h3>Город столиц</h3>
            </a>
        </div>
        <div class="tower-card">
            <a href="tower_imperia.html">
                <img src="../../image/imperia.jpg" alt="Башня Империя" loading="lazy">
                <h3>Башня Империя</h3>
            </a>
        </div>
        <div class="tower-card">
            <a href="tower_eurasia.html">
                <img src="../../image/evrasia.jpg" alt="Башня Евразия" loading="lazy">
                <h3>Башня Евразия</h3>
            </a>
        </div>
        <div class="tower-card">
            <a href="tower_2000.html">
                <img src="../../image/tower_2000.jpg" alt="Башня 2000" loading="lazy">
                <h3>Башня 2000</h3>
            </a>
        </div>
        <div class="tower-card">
            <a href="tower_embakment.html">
                <img src="../../image/embakment2.jpg" alt="Башня на набережной" loading="lazy">
                <h3>Башня на набережной</h3>
            </a>
        </div>
        <div class="tower-card">
            <a href="bridge_bagration.html">
                <img src="../../image/slidesImg/tower_2000.jpg" alt="Мост Багратион" loading="lazy">
                <h3>Мост Багратион</h3>
            </a>
        </div>

    </div>
</div>
</body>
</html>